In [ ]:
import pandas as pd

In [ ]:
df = pd.read_html('https://fbref.com/en/squads/19538871/2013-2014/matchlogs/c9/schedule/Manchester-United-Scores-and-Fixtures-Premier-League',
                  attrs={"id":"matchlogs_for"})[0]

In [ ]:
df

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
# Dropping irrelevant columns #
columns_to_drop = ['Time', 'Captain', 'Formation', 'Attendance', 'Opp Formation', 'Referee', 'Match Report', 'Notes']
df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

# Dropping rows with missing essential info #
df.dropna(subset=['Date', 'Opponent', 'Result'], inplace=True)

# Extract matchday number from 'Round' column (e.g., "Matchweek 5" → 5) #
df['matchday'] = df['Round'].str.extract(r'(\d+)').astype(int)

# Create points_won column based on results #
result_to_points = {'W': 3, 'D': 1, 'L': 0}
df['points_won'] = df['Result'].map(result_to_points)

# Standardize home/away column to binary values #
df['home_0_away_1'] = df['Venue'].apply(lambda x: 0 if x == 'Home' else 1)

# Reorder columns#
df = df[['matchday', 'Date', 'home_0_away_1', 'Opponent', 'Result', 'points_won', 'GF', 'GA']]

In [ ]:
df

In [ ]:
df['date'] = pd.to_datetime(df['Date'],dayfirst=True)
df = df.sort_values('date')
df['days_since_last_game_united'] = (
    df['date']
      .diff()               # current_date - previous_date
      .dt.days              # convert to integer days
      .fillna(0)            # first match has no “previous” → 0
      .astype(int)
)
df.drop(columns='date', inplace=True, errors='ignore')
df

In [ ]:
df_elo = pd.read_csv('/content/EloRatings.csv')

In [ ]:
df_elo['date'] = pd.to_datetime(df_elo['date'], dayfirst=True)
#filter to only England#
df_elo = df_elo[df_elo['country'] == 'ENG']
#filter to dates on or after July 1, 2013 #
df_elo['date'] = pd.to_datetime(df_elo['date'], format='%Y-%m-%d')
cutoff = pd.Timestamp('2013-07-01')
df_elo = df_elo[df_elo['date'] >= cutoff].reset_index(drop=True)
print(df_elo.country.unique())    # should be just ['ENG']
print(df_elo.date.min(), df_elo.date.max())

In [ ]:
df_elo

In [ ]:
def round_to_elo_date(dt):
    return pd.Timestamp(dt.year, dt.month, 1) if dt.day < 15 else pd.Timestamp(dt.year, dt.month, 15)
df['merge_date'] = df['Date'].apply(round_to_elo_date)
df_elo['merge_date'] = df_elo['date']
name_map = {
    'Arsenal': 'Arsenal',
    'Aston Villa': 'Aston Villa',
    'Cardiff City': 'Cardiff',
    'Chelsea': 'Chelsea',
    'Crystal Palace': 'Crystal Palace',
    'Everton': 'Everton',
    'Fulham': 'Fulham',
    'Hull City': 'Hull',
    'Liverpool': 'Liverpool',
    'Manchester City': 'Man City',
    'Newcastle Utd': 'Newcastle',
    'Norwich City': 'Norwich',
    'Southampton': 'Southampton',
    'Stoke City': 'Stoke',
    'Sunderland': 'Sunderland',
    'Swansea City': 'Swansea',
    'Tottenham': 'Tottenham',
    'West Brom': 'West Brom',
    'West Ham': 'West Ham',
}
df['elo_opponent'] = df['Opponent'].map(name_map)
df['elo_club'] = 'Man United'
df = df.merge(
    df_elo[['club', 'merge_date', 'elo']].rename(columns={'elo': 'opp_elo'}),
    left_on=['elo_opponent', 'merge_date'],
    right_on=['club', 'merge_date'],
    how='left'
).drop(columns='club')
df = df.merge(
    df_elo[['club', 'merge_date', 'elo']].rename(columns={'elo': 'united_elo'}),
    left_on=['elo_club', 'merge_date'],
    right_on=['club', 'merge_date'],
    how='left'
).drop(columns=['club', 'elo_club'])

In [ ]:
df.drop(columns=['merge_date','elo_opponent',], inplace=True, errors='ignore')
df

In [ ]:
print((df["Opponent"].unique()))

In [ ]:
df["elo_diff"] = df["united_elo"] - df["opp_elo"]
final_pos = {
    'Manchester City': 1,
    'Liverpool': 2,
    'Chelsea': 3,
    'Arsenal': 4,
    'Everton': 5,
    'Tottenham': 6,
    'Manchester United': 7,
    'Southampton': 8,
    'Stoke City': 9,
    'Newcastle Utd': 10,
    'Crystal Palace': 11,
    'Swansea City': 12,
    'West Ham': 13,
    'Sunderland': 14,
    'Aston Villa': 15,
    'Hull City': 16,
    'West Brom': 17,
    'Norwich City': 18,
    'Fulham': 19,
    'Cardiff City': 20
}
df['opp_final_pos'] = df['Opponent'].map(final_pos)

In [ ]:
df

In [ ]:
df_bet = pd.read_csv('/content/13-14Odds.csv')
df_bet['Date'] = pd.to_datetime(df_bet['Date'], dayfirst=True)

In [ ]:
df['date'] = pd.to_datetime(df['Date'], dayfirst=True)
home_odds_map = df_bet.set_index(['Date','HomeTeam'])['B365H'].to_dict()
away_odds_map = df_bet.set_index(['Date','AwayTeam'])['B365A'].to_dict()

def get_united_win_odds(row):
    key = (row['date'], 'Man United')
    if row['home_0_away_1'] == 0:
        return home_odds_map.get(key, pd.NA)
    else:
        return away_odds_map.get(key, pd.NA)

df['united_win_odds'] = df.apply(get_united_win_odds, axis=1)

In [ ]:
df.drop(columns='date', inplace=True, errors='ignore')
df

In [ ]:
df["days_since_last_opp_game"] = [0, 8, 8, 14, 8, 7, 6, 13, 7, 7, 8, 15, 7, 4, 3, 7, 7, 5, 2, 3, 10, 8, 10, 3, 8, 4, 14, 14, 15, 7, 3, 6, 7, 4, 6, 6, 3, 8]
df

In [ ]:
df = df[['matchday','Date','home_0_away_1','Opponent','Result','points_won','GF','GA','united_elo', 'opp_elo', 'elo_diff', 'united_win_odds', 'opp_final_pos', 'days_since_last_game_united', 'days_since_last_opp_game']]

In [ ]:
#Final DF for 13/14 season data #
df

,matchday,Date,home_0_away_1,Opponent,Result,points_won,GF,GA,united_elo,opp_elo,elo_diff,united_win_odds,opp_final_pos,days_since_last_game_united,days_since_last_opp_game
0,1,2013-08-17,1,Swansea City,W,3,4,1,1911.40,1665.55,245.85,2.00,12,0,0
1,2,2013-08-26,0,Chelsea,D,1,0,0,1911.40,1887.22,24.18,2.45,3,9,8
2,3,2013-09-01,1,Liverpool,L,0,0,1,1921.33,1801.01,120.32,2.88,2,6,8
3,4,2013-09-14,0,Crystal Palace,W,3,2,0,1921.33,1525.75,395.58,1.22,11,13,14
4,5,2013-09-22,1,Manchester City,L,0,1,4,1911.61,1866.28,45.33,3.60,1,8,8
5,6,2013-09-28,0,West Brom,L,0,1,2,1911.61,1654.51,257.10,1.30,17,6,7
6,7,2013-10-05,1,Sunderland,W,3,2,1,1900.68,1614.09,286.59,1.65,14,7,6
7,8,2013-10-19,0,Southampton,D,1,1,1,1907.86,1682.13,225.73,1.57,8,14,13
8,9,2013-10-26,0,Stoke City,W,3,3,2,1907.86,1658.97,248.89,1.33,9,7,7
9,10,2013-11-02,1,Fulham,W,3,3,1,1909.41,1671.13,238.28,1.57,19,7,7
10,11,2013-11-10,0,Arsenal,W,3,1,0,1909.41,1892.87,16.54,2.35,4,8,8
11,12,2013-11-24,1,Cardiff City,D,1,2,2,1923.90,1612.78,311.12,1.65,20,14,15
12,13,2013-12-01,1,Tottenham,D,1,2,2,1934.68,1832.22,102.46,2.63,6,7,7
13,14,2013-12-04,0,Everton,L,0,0,1,1934.68,1826.38,108.30,1.73,5,3,4
14,15,2013-12-07,0,Newcastle Utd,L,0,0,1,1934.68,1725.95,208.73,1.53,10,3,3
15,16,2013-12-15,1,Aston Villa,W,3,3,0,1907.22,1685.84,221.38,1.75,15,8,7
16,17,2013-12-21,0,West Ham,W,3,3,1,1907.22,1657.51,249.71,1.36,13,6,7
17,18,2013-12-26,1,Hull City,W,3,3,2,1907.22,1575.27,331.95,1.55,16,5,5
18,19,2013-12-28,1,Norwich City,W,3,1,0,1907.22,1666.19,241.03,1.57,18,2,2
19,20,2014-01-01,0,Tottenham,L,0,1,2,1922.74,1825.01,97.73,1.80,6,4,3
20,21,2014-01-11,0,Swansea City,W,3,2,0,1922.74,1689.67,233.07,1.57,12,10,10
21,22,2014-01-19,1,Chelsea,L,0,1,3,1914.40,1921.33,-6.93,5.50,3,8,8
22,23,2014-01-28,0,Cardiff City,W,3,2,0,1914.40,1577.78,336.62,1.25,20,9,10
23,24,2014-02-01,1,Stoke City,L,0,1,2,1907.19,1639.17,268.02,1.57,9,4,3
24,25,2014-02-09,0,Fulham,D,1,2,2,1907.19,1606.34,300.85,1.20,19,8,8
25,26,2014-02-12,1,Arsenal,D,1,0,0,1907.19,1901.82,5.37,3.60,4,3,4
26,27,2014-02-22,1,Crystal Palace,W,3,2,0,1886.30,1574.18,312.12,1.60,11,10,14
27,29,2014-03-08,1,West Brom,W,3,3,0,1867.39,1650.54,216.85,1.83,17,14,14
28,30,2014-03-16,0,Liverpool,L,0,0,3,1870.21,1864.84,5.37,2.50,2,8,15
29,31,2014-03-22,1,West Ham,W,3,2,0,1870.21,1673.92,196.29,1.91,13,6,7
30,28,2014-03-25,0,Manchester City,L,0,0,3,1870.21,1925.12,-54.91,3.50,1,3,3
31,32,2014-03-29,0,Aston Villa,W,3,4,1,1870.21,1648.14,222.07,1.45,15,4,6
32,33,2014-04-05,1,Newcastle Utd,W,3,4,0,1878.03,1676.46,201.57,1.95,10,7,7
33,35,2014-04-20,1,Everton,L,0,0,2,1883.45,1851.37,32.08,2.80,5,15,4
34,36,2014-04-26,0,Norwich City,W,3,4,0,1883.45,1610.28,273.17,1.36,18,6,6
35,37,2014-05-03,0,Sunderland,L,0,0,1,1872.14,1635.27,236.87,1.36,14,7,6
36,34,2014-05-06,0,Hull City,W,3,3,1,1872.14,1591.14,281.00,1.36,16,3,3
37,38,2014-05-11,1,Southampton,D,1,1,1,1872.14,1706.59,165.55,2.80,8,5,8

In [ ]:
df_2 = pd.read_html('https://fbref.com/en/squads/19538871/2014-2015/matchlogs/c9/schedule/Manchester-United-Scores-and-Fixtures-Premier-League', attrs= {"id":"matchlogs_for"})[0]

In [ ]:
df_2.drop(columns = ['Attendance','Poss','Captain','Formation','Opp Formation','Referee', 'Match Report', 'Notes','Day'], inplace=True, errors='ignore')
df_2

          Date   Time         Round Venue Result  GF  GA         Opponent
0   2014-08-16  12:45   Matchweek 1  Home      L   1   2     Swansea City
1   2014-08-24  16:00   Matchweek 2  Away      D   1   1       Sunderland
2   2014-08-30  12:45   Matchweek 3  Away      D   0   0          Burnley
3   2014-09-14  16:00   Matchweek 4  Home      W   4   0              QPR
4   2014-09-21  13:30   Matchweek 5  Away      L   3   5   Leicester City
5   2014-09-27  15:00   Matchweek 6  Home      W   2   1         West Ham
6   2014-10-05  12:00   Matchweek 7  Home      W   2   1          Everton
7   2014-10-20  20:00   Matchweek 8  Away      D   2   2        West Brom
8   2014-10-26  16:00   Matchweek 9  Home      D   1   1          Chelsea
9   2014-11-02  13:30  Matchweek 10  Away      L   0   1  Manchester City
10  2014-11-08  15:00  Matchweek 11  Home      W   1   0   Crystal Palace
11  2014-11-22  17:30  Matchweek 12  Away      W   2   1          Arsenal
12  2014-11-29  15:00  Matchweek 13  Home      W   3   0        Hull City
13  2014-12-02  19:45  Matchweek 14  Home      W   2   1       Stoke City
14  2014-12-08  20:00  Matchweek 15  Away      W   2   1      Southampton
15  2014-12-14  13:30  Matchweek 16  Home      W   3   0        Liverpool
16  2014-12-20  15:00  Matchweek 17  Away      D   1   1      Aston Villa
17  2014-12-26  15:00  Matchweek 18  Home      W   3   1    Newcastle Utd
18  2014-12-28  12:00  Matchweek 19  Away      D   0   0        Tottenham
19  2015-01-01  12:45  Matchweek 20  Away      D   1   1       Stoke City
20  2015-01-11  16:00  Matchweek 21  Home      L   0   1      Southampton
21  2015-01-17  15:00  Matchweek 22  Away      W   2   0              QPR
22  2015-01-31  15:00  Matchweek 23  Home      W   3   1   Leicester City
23  2015-02-08  16:15  Matchweek 24  Away      D   1   1         West Ham
24  2015-02-11  19:45  Matchweek 25  Home      W   3   1          Burnley
25  2015-02-21  15:00  Matchweek 26  Away      L   1   2     Swansea City
26  2015-02-28  15:00  Matchweek 27  Home      W   2   0       Sunderland
27  2015-03-04  19:45  Matchweek 28  Away      W   1   0    Newcastle Utd
28  2015-03-15  16:00  Matchweek 29  Home      W   3   0        Tottenham
29  2015-03-22  13:30  Matchweek 30  Away      W   2   1        Liverpool
30  2015-04-04  15:00  Matchweek 31  Home      W   3   1      Aston Villa
31  2015-04-12  16:00  Matchweek 32  Home      W   4   2  Manchester City
32  2015-04-18  17:30  Matchweek 33  Away      L   0   1          Chelsea
33  2015-04-26  13:30  Matchweek 34  Away      L   0   3          Everton
34  2015-05-02  17:30  Matchweek 35  Home      L   0   1        West Brom
35  2015-05-09  17:30  Matchweek 36  Away      W   2   1   Crystal Palace
36  2015-05-17  16:00  Matchweek 37  Home      D   1   1          Arsenal
37  2015-05-24  15:00  Matchweek 38  Away      D   0   0        Hull City

In [ ]:
df_2['Date'] = pd.to_datetime(df_2['Date'], dayfirst=True)
# Extract matchday number from 'Round' column (e.g., "Matchweek 5" → 5) #
df_2['matchday'] = df_2['Round'].str.extract(r'(\d+)').astype(int)
# Create points_won column based on results #
result_to_points = {'W': 3, 'D': 1, 'L': 0}
df_2['points_won'] = df_2['Result'].map(result_to_points)
# Standardize home/away column to binary values #
df_2['home_0_away_1'] = df_2['Venue'].apply(lambda x: 0 if x == 'Home' else 1)
# Reorder columns#
df_2 = df_2[['matchday', 'Date', 'home_0_away_1', 'Opponent', 'Result', 'points_won', 'GF', 'GA']]

In [ ]:
df_2

,matchday,Date,home_0_away_1,Opponent,Result,points_won,GF,GA
0,1,2014-08-16,0,Swansea City,L,0,1,2
1,2,2014-08-24,1,Sunderland,D,1,1,1
2,3,2014-08-30,1,Burnley,D,1,0,0
3,4,2014-09-14,0,QPR,W,3,4,0
4,5,2014-09-21,1,Leicester City,L,0,3,5
5,6,2014-09-27,0,West Ham,W,3,2,1
6,7,2014-10-05,0,Everton,W,3,2,1
7,8,2014-10-20,1,West Brom,D,1,2,2
8,9,2014-10-26,0,Chelsea,D,1,1,1
9,10,2014-11-02,1,Manchester City,L,0,0,1
10,11,2014-11-08,0,Crystal Palace,W,3,1,0
11,12,2014-11-22,1,Arsenal,W,3,2,1
12,13,2014-11-29,0,Hull City,W,3,3,0
13,14,2014-12-02,0,Stoke City,W,3,2,1
14,15,2014-12-08,1,Southampton,W,3,2,1
15,16,2014-12-14,0,Liverpool,W,3,3,0
16,17,2014-12-20,1,Aston Villa,D,1,1,1
17,18,2014-12-26,0,Newcastle Utd,W,3,3,1
18,19,2014-12-28,1,Tottenham,D,1,0,0
19,20,2015-01-01,1,Stoke City,D,1,1,1
20,21,2015-01-11,0,Southampton,L,0,0,1
21,22,2015-01-17,1,QPR,W,3,2,0
22,23,2015-01-31,0,Leicester City,W,3,3,1
23,24,2015-02-08,1,West Ham,D,1,1,1
24,25,2015-02-11,0,Burnley,W,3,3,1
25,26,2015-02-21,1,Swansea City,L,0,1,2
26,27,2015-02-28,0,Sunderland,W,3,2,0
27,28,2015-03-04,1,Newcastle Utd,W,3,1,0
28,29,2015-03-15,0,Tottenham,W,3,3,0
29,30,2015-03-22,1,Liverpool,W,3,2,1
30,31,2015-04-04,0,Aston Villa,W,3,3,1
31,32,2015-04-12,0,Manchester City,W,3,4,2
32,33,2015-04-18,1,Chelsea,L,0,0,1
33,34,2015-04-26,1,Everton,L,0,0,3
34,35,2015-05-02,0,West Brom,L,0,0,1
35,36,2015-05-09,1,Crystal Palace,W,3,2,1
36,37,2015-05-17,0,Arsenal,D,1,1,1
37,38,2015-05-24,1,Hull City,D,1,0,0

In [ ]:
def round_to_elo_date(dt):
    return pd.Timestamp(dt.year, dt.month, 1) if dt.day < 15 else pd.Timestamp(dt.year, dt.month, 15)
df_2['merge_date'] = df_2['Date'].apply(round_to_elo_date)
df_elo['merge_date'] = df_elo['date']
name_map_2 = {
    'Arsenal':           'Arsenal',
    'Aston Villa':       'Aston Villa',
    'Burnley':           'Burnley',
    'Chelsea':           'Chelsea',
    'Crystal Palace':    'Crystal Palace',
    'Everton':           'Everton',
    'Hull City':         'Hull',
    'Leicester City':    'Leicester',
    'Liverpool':         'Liverpool',
    'Manchester City':   'Man City',
    'Newcastle Utd':     'Newcastle',
    'QPR':               'QPR',
    'Southampton':       'Southampton',
    'Stoke City':        'Stoke',
    'Sunderland':        'Sunderland',
    'Swansea City':      'Swansea',
    'Tottenham':         'Tottenham',
    'West Brom':         'West Brom',
    'West Ham':          'West Ham',
}
df_2['elo_opponent'] = df_2['Opponent'].map(name_map_2)
df_2['elo_club'] = 'Man United'
df_2 = df_2.merge(
    df_elo[['club', 'merge_date', 'elo']].rename(columns={'elo': 'opp_elo'}),
    left_on=['elo_opponent', 'merge_date'],
    right_on=['club', 'merge_date'],
    how='left'
).drop(columns='club')
df_2 = df_2.merge(
    df_elo[['club', 'merge_date', 'elo']].rename(columns={'elo': 'united_elo'}),
    left_on=['elo_club', 'merge_date'],
    right_on=['club', 'merge_date'],
    how='left'
).drop(columns=['club', 'elo_club'])

In [ ]:
df_2.drop(columns=['merge_date','elo_opponent','opp_elo_y','united_elo_y'], inplace=True, errors='ignore')
df_2

In [ ]:
df_2['elo_diff'] = df_2['united_elo_x'] - df_2['opp_elo_x']
df_2['date'] = pd.to_datetime(df_2['Date'],dayfirst=True)
df_2 = df_2.sort_values('date')
df_2['days_since_last_game_united'] = (
    df_2['date']
      .diff()               # current_date - previous_date
      .dt.days              # convert to integer days
      .fillna(0)            # first match has no “previous” → 0
      .astype(int)
)
df_2.drop(columns='date', inplace=True, errors='ignore')
df_2

,matchday,Date,home_0_away_1,Opponent,Result,points_won,GF,GA,opp_elo_x,united_elo_x,elo_diff,days_since_last_game_united
0,1,2014-08-16,0,Swansea City,L,0,1,2,1672.92,1858.60,185.68,0
1,2,2014-08-24,1,Sunderland,D,1,1,1,1647.63,1858.60,210.97,8
2,3,2014-08-30,1,Burnley,D,1,0,0,1613.48,1858.60,245.12,6
3,4,2014-09-14,0,QPR,W,3,4,0,1570.30,1833.37,263.07,15
4,5,2014-09-21,1,Leicester City,L,0,3,5,1653.65,1837.33,183.68,7
5,6,2014-09-27,0,West Ham,W,3,2,1,1655.79,1837.33,181.54,6
6,7,2014-10-05,0,Everton,W,3,2,1,1808.95,1819.52,10.57,8
7,8,2014-10-20,1,West Brom,D,1,2,2,1632.27,1821.53,189.26,15
8,9,2014-10-26,0,Chelsea,D,1,1,1,1937.44,1821.53,-115.91,6
9,10,2014-11-02,1,Manchester City,L,0,0,1,1920.19,1818.42,-101.77,7
10,11,2014-11-08,0,Crystal Palace,W,3,1,0,1613.17,1818.42,205.25,6
11,12,2014-11-22,1,Arsenal,W,3,2,1,1827.39,1809.78,-17.61,14
12,13,2014-11-29,0,Hull City,W,3,3,0,1567.89,1809.78,241.89,7
13,14,2014-12-02,0,Stoke City,W,3,2,1,1671.57,1836.64,165.07,3
14,15,2014-12-08,1,Southampton,W,3,2,1,1750.47,1836.64,86.17,6
15,16,2014-12-14,0,Liverpool,W,3,3,0,1806.45,1836.64,30.19,6
16,17,2014-12-20,1,Aston Villa,D,1,1,1,1620.14,1853.47,233.33,6
17,18,2014-12-26,0,Newcastle Utd,W,3,3,1,1671.62,1853.47,181.85,6
18,19,2014-12-28,1,Tottenham,D,1,0,0,1758.36,1853.47,95.11,2
19,20,2015-01-01,1,Stoke City,D,1,1,1,1691.77,1851.94,160.17,4
20,21,2015-01-11,0,Southampton,L,0,0,1,1753.29,1851.94,98.65,10
21,22,2015-01-17,1,QPR,W,3,2,0,1572.84,1837.43,264.59,6
22,23,2015-01-31,0,Leicester City,W,3,3,1,1607.09,1837.43,230.34,14
23,24,2015-02-08,1,West Ham,D,1,1,1,1703.01,1845.19,142.18,8
24,25,2015-02-11,0,Burnley,W,3,3,1,1585.07,1845.19,260.12,3
25,26,2015-02-21,1,Swansea City,L,0,1,2,1668.94,1845.48,176.54,10
26,27,2015-02-28,0,Sunderland,W,3,2,0,1629.73,1845.48,215.75,7
27,28,2015-03-04,1,Newcastle Utd,W,3,1,0,1656.39,1826.29,169.90,4
28,29,2015-03-15,0,Tottenham,W,3,3,0,1760.93,1828.84,67.91,11
29,30,2015-03-22,1,Liverpool,W,3,2,1,1822.76,1828.84,6.08,7
30,31,2015-04-04,0,Aston Villa,W,3,3,1,1578.67,1842.46,263.79,13
31,32,2015-04-12,0,Manchester City,W,3,4,2,1886.53,1842.46,-44.07,8
32,33,2015-04-18,1,Chelsea,L,0,0,1,1913.93,1855.69,-58.24,6
33,34,2015-04-26,1,Everton,L,0,0,3,1722.47,1855.69,133.22,8
34,35,2015-05-02,0,West Brom,L,0,0,1,1607.55,1832.55,225.00,6
35,36,2015-05-09,1,Crystal Palace,W,3,2,1,1633.15,1832.55,199.40,7
36,37,2015-05-17,0,Arsenal,D,1,1,1,1860.18,1822.84,-37.34,8
37,38,2015-05-24,1,Hull City,D,1,0,0,1571.32,1822.84,251.52,7

In [ ]:
df_bet_2 = pd.read_csv('/content/14-15 Odds.csv')
df_bet_2['Date'] = pd.to_datetime(df_bet_2['Date'], dayfirst=True)

In [ ]:
df_2['date'] = pd.to_datetime(df_2['Date'], dayfirst=True)
home_odds_map = df_bet_2.set_index(['Date','HomeTeam'])['B365H'].to_dict()
away_odds_map = df_bet_2.set_index(['Date','AwayTeam'])['B365A'].to_dict()

def get_united_win_odds(row):
    key = (row['date'], 'Man United')
    if row['home_0_away_1'] == 0:
        return home_odds_map.get(key, pd.NA)
    else:
        return away_odds_map.get(key, pd.NA)
df_2['united_win_odds'] = df_2.apply(get_united_win_odds, axis=1)

In [ ]:
df_2.drop(columns=['date'], inplace=True, errors='ignore')
df_2

,matchday,Date,home_0_away_1,Opponent,Result,points_won,GF,GA,opp_elo_x,united_elo_x,elo_diff,days_since_last_game_united,united_win_odds
0,1,2014-08-16,0,Swansea City,L,0,1,2,1672.92,1858.60,185.68,0,1.36
1,2,2014-08-24,1,Sunderland,D,1,1,1,1647.63,1858.60,210.97,8,1.75
2,3,2014-08-30,1,Burnley,D,1,0,0,1613.48,1858.60,245.12,6,1.62
3,4,2014-09-14,0,QPR,W,3,4,0,1570.30,1833.37,263.07,15,1.29
4,5,2014-09-21,1,Leicester City,L,0,3,5,1653.65,1837.33,183.68,7,1.67
5,6,2014-09-27,0,West Ham,W,3,2,1,1655.79,1837.33,181.54,6,1.40
6,7,2014-10-05,0,Everton,W,3,2,1,1808.95,1819.52,10.57,8,1.67
7,8,2014-10-20,1,West Brom,D,1,2,2,1632.27,1821.53,189.26,15,1.75
8,9,2014-10-26,0,Chelsea,D,1,1,1,1937.44,1821.53,-115.91,6,2.88
9,10,2014-11-02,1,Manchester City,L,0,0,1,1920.19,1818.42,-101.77,7,4.33
10,11,2014-11-08,0,Crystal Palace,W,3,1,0,1613.17,1818.42,205.25,6,1.30
11,12,2014-11-22,1,Arsenal,W,3,2,1,1827.39,1809.78,-17.61,14,3.50
12,13,2014-11-29,0,Hull City,W,3,3,0,1567.89,1809.78,241.89,7,1.33
13,14,2014-12-02,0,Stoke City,W,3,2,1,1671.57,1836.64,165.07,3,1.45
14,15,2014-12-08,1,Southampton,W,3,2,1,1750.47,1836.64,86.17,6,2.70
15,16,2014-12-14,0,Liverpool,W,3,3,0,1806.45,1836.64,30.19,6,1.80
16,17,2014-12-20,1,Aston Villa,D,1,1,1,1620.14,1853.47,233.33,6,1.62
17,18,2014-12-26,0,Newcastle Utd,W,3,3,1,1671.62,1853.47,181.85,6,1.40
18,19,2014-12-28,1,Tottenham,D,1,0,0,1758.36,1853.47,95.11,2,2.30
19,20,2015-01-01,1,Stoke City,D,1,1,1,1691.77,1851.94,160.17,4,2.00
20,21,2015-01-11,0,Southampton,L,0,0,1,1753.29,1851.94,98.65,10,1.83
21,22,2015-01-17,1,QPR,W,3,2,0,1572.84,1837.43,264.59,6,1.62
22,23,2015-01-31,0,Leicester City,W,3,3,1,1607.09,1837.43,230.34,14,1.36
23,24,2015-02-08,1,West Ham,D,1,1,1,1703.01,1845.19,142.18,8,1.95
24,25,2015-02-11,0,Burnley,W,3,3,1,1585.07,1845.19,260.12,3,1.29
25,26,2015-02-21,1,Swansea City,L,0,1,2,1668.94,1845.48,176.54,10,2.00
26,27,2015-02-28,0,Sunderland,W,3,2,0,1629.73,1845.48,215.75,7,1.36
27,28,2015-03-04,1,Newcastle Utd,W,3,1,0,1656.39,1826.29,169.90,4,2.00
28,29,2015-03-15,0,Tottenham,W,3,3,0,1760.93,1828.84,67.91,11,1.91
29,30,2015-03-22,1,Liverpool,W,3,2,1,1822.76,1828.84,6.08,7,3.60
30,31,2015-04-04,0,Aston Villa,W,3,3,1,1578.67,1842.46,263.79,13,1.30
31,32,2015-04-12,0,Manchester City,W,3,4,2,1886.53,1842.46,-44.07,8,2.63
32,33,2015-04-18,1,Chelsea,L,0,0,1,1913.93,1855.69,-58.24,6,4.33
33,34,2015-04-26,1,Everton,L,0,0,3,1722.47,1855.69,133.22,8,2.15
34,35,2015-05-02,0,West Brom,L,0,0,1,1607.55,1832.55,225.00,6,1.36
35,36,2015-05-09,1,Crystal Palace,W,3,2,1,1633.15,1832.55,199.40,7,1.91
36,37,2015-05-17,0,Arsenal,D,1,1,1,1860.18,1822.84,-37.34,8,2.45
37,38,2015-05-24,1,Hull City,D,1,0,0,1571.32,1822.84,251.52,7,2.25

In [ ]:
final_pos_2 = {
    'Chelsea':              1,
    'Manchester City':      2,
    'Arsenal':              3,
    'Tottenham':            5,
    'Liverpool':            6,
    'Southampton':          7,
    'Swansea City':         8,
    'Stoke City':           9,
    'Crystal Palace':      10,
    'Everton':             11,
    'West Ham':            12,
    'West Brom':           13,
    'Leicester City':      14,
    'Newcastle Utd':       15,
    'Sunderland':          16,
    'Aston Villa':         17,
    'Hull City':           18,
    'Burnley':             19,
    'QPR':                 20
}
df_2['opp_final_pos'] = df_2['Opponent'].map(final_pos_2)

In [ ]:
df_2

,matchday,Date,home_0_away_1,Opponent,Result,points_won,GF,GA,opp_elo_x,united_elo_x,elo_diff,days_since_last_game_united,united_win_odds,opp_final_pos
0,1,2014-08-16,0,Swansea City,L,0,1,2,1672.92,1858.60,185.68,0,1.36,8
1,2,2014-08-24,1,Sunderland,D,1,1,1,1647.63,1858.60,210.97,8,1.75,16
2,3,2014-08-30,1,Burnley,D,1,0,0,1613.48,1858.60,245.12,6,1.62,19
3,4,2014-09-14,0,QPR,W,3,4,0,1570.30,1833.37,263.07,15,1.29,20
4,5,2014-09-21,1,Leicester City,L,0,3,5,1653.65,1837.33,183.68,7,1.67,14
5,6,2014-09-27,0,West Ham,W,3,2,1,1655.79,1837.33,181.54,6,1.40,12
6,7,2014-10-05,0,Everton,W,3,2,1,1808.95,1819.52,10.57,8,1.67,11
7,8,2014-10-20,1,West Brom,D,1,2,2,1632.27,1821.53,189.26,15,1.75,13
8,9,2014-10-26,0,Chelsea,D,1,1,1,1937.44,1821.53,-115.91,6,2.88,1
9,10,2014-11-02,1,Manchester City,L,0,0,1,1920.19,1818.42,-101.77,7,4.33,2
10,11,2014-11-08,0,Crystal Palace,W,3,1,0,1613.17,1818.42,205.25,6,1.30,10
11,12,2014-11-22,1,Arsenal,W,3,2,1,1827.39,1809.78,-17.61,14,3.50,3
12,13,2014-11-29,0,Hull City,W,3,3,0,1567.89,1809.78,241.89,7,1.33,18
13,14,2014-12-02,0,Stoke City,W,3,2,1,1671.57,1836.64,165.07,3,1.45,9
14,15,2014-12-08,1,Southampton,W,3,2,1,1750.47,1836.64,86.17,6,2.70,7
15,16,2014-12-14,0,Liverpool,W,3,3,0,1806.45,1836.64,30.19,6,1.80,6
16,17,2014-12-20,1,Aston Villa,D,1,1,1,1620.14,1853.47,233.33,6,1.62,17
17,18,2014-12-26,0,Newcastle Utd,W,3,3,1,1671.62,1853.47,181.85,6,1.40,15
18,19,2014-12-28,1,Tottenham,D,1,0,0,1758.36,1853.47,95.11,2,2.30,5
19,20,2015-01-01,1,Stoke City,D,1,1,1,1691.77,1851.94,160.17,4,2.00,9
20,21,2015-01-11,0,Southampton,L,0,0,1,1753.29,1851.94,98.65,10,1.83,7
21,22,2015-01-17,1,QPR,W,3,2,0,1572.84,1837.43,264.59,6,1.62,20
22,23,2015-01-31,0,Leicester City,W,3,3,1,1607.09,1837.43,230.34,14,1.36,14
23,24,2015-02-08,1,West Ham,D,1,1,1,1703.01,1845.19,142.18,8,1.95,12
24,25,2015-02-11,0,Burnley,W,3,3,1,1585.07,1845.19,260.12,3,1.29,19
25,26,2015-02-21,1,Swansea City,L,0,1,2,1668.94,1845.48,176.54,10,2.00,8
26,27,2015-02-28,0,Sunderland,W,3,2,0,1629.73,1845.48,215.75,7,1.36,16
27,28,2015-03-04,1,Newcastle Utd,W,3,1,0,1656.39,1826.29,169.90,4,2.00,15
28,29,2015-03-15,0,Tottenham,W,3,3,0,1760.93,1828.84,67.91,11,1.91,5
29,30,2015-03-22,1,Liverpool,W,3,2,1,1822.76,1828.84,6.08,7,3.60,6
30,31,2015-04-04,0,Aston Villa,W,3,3,1,1578.67,1842.46,263.79,13,1.30,17
31,32,2015-04-12,0,Manchester City,W,3,4,2,1886.53,1842.46,-44.07,8,2.63,2
32,33,2015-04-18,1,Chelsea,L,0,0,1,1913.93,1855.69,-58.24,6,4.33,1
33,34,2015-04-26,1,Everton,L,0,0,3,1722.47,1855.69,133.22,8,2.15,11
34,35,2015-05-02,0,West Brom,L,0,0,1,1607.55,1832.55,225.00,6,1.36,13
35,36,2015-05-09,1,Crystal Palace,W,3,2,1,1633.15,1832.55,199.40,7,1.91,10
36,37,2015-05-17,0,Arsenal,D,1,1,1,1860.18,1822.84,-37.34,8,2.45,3
37,38,2015-05-24,1,Hull City,D,1,0,0,1571.32,1822.84,251.52,7,2.25,18

In [ ]:
df_2['days_since_last_game_opp'] = [0, 8, 7, 15, 8, 7, 8, 16, 8, 8, 5, 13, 6, 3, 5, 8, 7, 5,2,4, 10, 7, 14, 8, 3, 10, 7, 4, 8, 6, 14, 6, 6, 8, 7, 6, 6, 8]

In [ ]:
df_2

,matchday,Date,home_0_away_1,Opponent,Result,points_won,GF,GA,opp_elo_x,united_elo_x,elo_diff,days_since_last_game_united,united_win_odds,opp_final_pos,days_since_last_game_opp
0,1,2014-08-16,0,Swansea City,L,0,1,2,1672.92,1858.60,185.68,0,1.36,8,0
1,2,2014-08-24,1,Sunderland,D,1,1,1,1647.63,1858.60,210.97,8,1.75,16,8
2,3,2014-08-30,1,Burnley,D,1,0,0,1613.48,1858.60,245.12,6,1.62,19,7
3,4,2014-09-14,0,QPR,W,3,4,0,1570.30,1833.37,263.07,15,1.29,20,15
4,5,2014-09-21,1,Leicester City,L,0,3,5,1653.65,1837.33,183.68,7,1.67,14,8
5,6,2014-09-27,0,West Ham,W,3,2,1,1655.79,1837.33,181.54,6,1.40,12,7
6,7,2014-10-05,0,Everton,W,3,2,1,1808.95,1819.52,10.57,8,1.67,11,8
7,8,2014-10-20,1,West Brom,D,1,2,2,1632.27,1821.53,189.26,15,1.75,13,16
8,9,2014-10-26,0,Chelsea,D,1,1,1,1937.44,1821.53,-115.91,6,2.88,1,8
9,10,2014-11-02,1,Manchester City,L,0,0,1,1920.19,1818.42,-101.77,7,4.33,2,8
10,11,2014-11-08,0,Crystal Palace,W,3,1,0,1613.17,1818.42,205.25,6,1.30,10,5
11,12,2014-11-22,1,Arsenal,W,3,2,1,1827.39,1809.78,-17.61,14,3.50,3,13
12,13,2014-11-29,0,Hull City,W,3,3,0,1567.89,1809.78,241.89,7,1.33,18,6
13,14,2014-12-02,0,Stoke City,W,3,2,1,1671.57,1836.64,165.07,3,1.45,9,3
14,15,2014-12-08,1,Southampton,W,3,2,1,1750.47,1836.64,86.17,6,2.70,7,5
15,16,2014-12-14,0,Liverpool,W,3,3,0,1806.45,1836.64,30.19,6,1.80,6,8
16,17,2014-12-20,1,Aston Villa,D,1,1,1,1620.14,1853.47,233.33,6,1.62,17,7
17,18,2014-12-26,0,Newcastle Utd,W,3,3,1,1671.62,1853.47,181.85,6,1.40,15,5
18,19,2014-12-28,1,Tottenham,D,1,0,0,1758.36,1853.47,95.11,2,2.30,5,2
19,20,2015-01-01,1,Stoke City,D,1,1,1,1691.77,1851.94,160.17,4,2.00,9,4
20,21,2015-01-11,0,Southampton,L,0,0,1,1753.29,1851.94,98.65,10,1.83,7,10
21,22,2015-01-17,1,QPR,W,3,2,0,1572.84,1837.43,264.59,6,1.62,20,7
22,23,2015-01-31,0,Leicester City,W,3,3,1,1607.09,1837.43,230.34,14,1.36,14,14
23,24,2015-02-08,1,West Ham,D,1,1,1,1703.01,1845.19,142.18,8,1.95,12,8
24,25,2015-02-11,0,Burnley,W,3,3,1,1585.07,1845.19,260.12,3,1.29,19,3
25,26,2015-02-21,1,Swansea City,L,0,1,2,1668.94,1845.48,176.54,10,2.00,8,10
26,27,2015-02-28,0,Sunderland,W,3,2,0,1629.73,1845.48,215.75,7,1.36,16,7
27,28,2015-03-04,1,Newcastle Utd,W,3,1,0,1656.39,1826.29,169.90,4,2.00,15,4
28,29,2015-03-15,0,Tottenham,W,3,3,0,1760.93,1828.84,67.91,11,1.91,5,8
29,30,2015-03-22,1,Liverpool,W,3,2,1,1822.76,1828.84,6.08,7,3.60,6,6
30,31,2015-04-04,0,Aston Villa,W,3,3,1,1578.67,1842.46,263.79,13,1.30,17,14
31,32,2015-04-12,0,Manchester City,W,3,4,2,1886.53,1842.46,-44.07,8,2.63,2,6
32,33,2015-04-18,1,Chelsea,L,0,0,1,1913.93,1855.69,-58.24,6,4.33,1,6
33,34,2015-04-26,1,Everton,L,0,0,3,1722.47,1855.69,133.22,8,2.15,11,8
34,35,2015-05-02,0,West Brom,L,0,0,1,1607.55,1832.55,225.00,6,1.36,13,7
35,36,2015-05-09,1,Crystal Palace,W,3,2,1,1633.15,1832.55,199.40,7,1.91,10,6
36,37,2015-05-17,0,Arsenal,D,1,1,1,1860.18,1822.84,-37.34,8,2.45,3,6
37,38,2015-05-24,1,Hull City,D,1,0,0,1571.32,1822.84,251.52,7,2.25,18,8

In [ ]:
df_2.rename(columns={'opp_elo_x':'opp_elo', 'united_elo_x':'united_elo'}, inplace=True)

In [ ]:
df.rename(columns={'days_since_last_opp_game':'days_since_last_game_opp'}, inplace=True)

In [ ]:
df

,matchday,Date,home_0_away_1,Opponent,Result,points_won,GF,GA,united_elo,opp_elo,elo_diff,united_win_odds,opp_final_pos,days_since_last_game_united,days_since_last_game_opp
0,1,2013-08-17,1,Swansea City,W,3,4,1,1911.40,1665.55,245.85,2.00,12,0,0
1,2,2013-08-26,0,Chelsea,D,1,0,0,1911.40,1887.22,24.18,2.45,3,9,8
2,3,2013-09-01,1,Liverpool,L,0,0,1,1921.33,1801.01,120.32,2.88,2,6,8
3,4,2013-09-14,0,Crystal Palace,W,3,2,0,1921.33,1525.75,395.58,1.22,11,13,14
4,5,2013-09-22,1,Manchester City,L,0,1,4,1911.61,1866.28,45.33,3.60,1,8,8
5,6,2013-09-28,0,West Brom,L,0,1,2,1911.61,1654.51,257.10,1.30,17,6,7
6,7,2013-10-05,1,Sunderland,W,3,2,1,1900.68,1614.09,286.59,1.65,14,7,6
7,8,2013-10-19,0,Southampton,D,1,1,1,1907.86,1682.13,225.73,1.57,8,14,13
8,9,2013-10-26,0,Stoke City,W,3,3,2,1907.86,1658.97,248.89,1.33,9,7,7
9,10,2013-11-02,1,Fulham,W,3,3,1,1909.41,1671.13,238.28,1.57,19,7,7
10,11,2013-11-10,0,Arsenal,W,3,1,0,1909.41,1892.87,16.54,2.35,4,8,8
11,12,2013-11-24,1,Cardiff City,D,1,2,2,1923.90,1612.78,311.12,1.65,20,14,15
12,13,2013-12-01,1,Tottenham,D,1,2,2,1934.68,1832.22,102.46,2.63,6,7,7
13,14,2013-12-04,0,Everton,L,0,0,1,1934.68,1826.38,108.30,1.73,5,3,4
14,15,2013-12-07,0,Newcastle Utd,L,0,0,1,1934.68,1725.95,208.73,1.53,10,3,3
15,16,2013-12-15,1,Aston Villa,W,3,3,0,1907.22,1685.84,221.38,1.75,15,8,7
16,17,2013-12-21,0,West Ham,W,3,3,1,1907.22,1657.51,249.71,1.36,13,6,7
17,18,2013-12-26,1,Hull City,W,3,3,2,1907.22,1575.27,331.95,1.55,16,5,5
18,19,2013-12-28,1,Norwich City,W,3,1,0,1907.22,1666.19,241.03,1.57,18,2,2
19,20,2014-01-01,0,Tottenham,L,0,1,2,1922.74,1825.01,97.73,1.80,6,4,3
20,21,2014-01-11,0,Swansea City,W,3,2,0,1922.74,1689.67,233.07,1.57,12,10,10
21,22,2014-01-19,1,Chelsea,L,0,1,3,1914.40,1921.33,-6.93,5.50,3,8,8
22,23,2014-01-28,0,Cardiff City,W,3,2,0,1914.40,1577.78,336.62,1.25,20,9,10
23,24,2014-02-01,1,Stoke City,L,0,1,2,1907.19,1639.17,268.02,1.57,9,4,3
24,25,2014-02-09,0,Fulham,D,1,2,2,1907.19,1606.34,300.85,1.20,19,8,8
25,26,2014-02-12,1,Arsenal,D,1,0,0,1907.19,1901.82,5.37,3.60,4,3,4
26,27,2014-02-22,1,Crystal Palace,W,3,2,0,1886.30,1574.18,312.12,1.60,11,10,14
27,29,2014-03-08,1,West Brom,W,3,3,0,1867.39,1650.54,216.85,1.83,17,14,14
28,30,2014-03-16,0,Liverpool,L,0,0,3,1870.21,1864.84,5.37,2.50,2,8,15
29,31,2014-03-22,1,West Ham,W,3,2,0,1870.21,1673.92,196.29,1.91,13,6,7
30,28,2014-03-25,0,Manchester City,L,0,0,3,1870.21,1925.12,-54.91,3.50,1,3,3
31,32,2014-03-29,0,Aston Villa,W,3,4,1,1870.21,1648.14,222.07,1.45,15,4,6
32,33,2014-04-05,1,Newcastle Utd,W,3,4,0,1878.03,1676.46,201.57,1.95,10,7,7
33,35,2014-04-20,1,Everton,L,0,0,2,1883.45,1851.37,32.08,2.80,5,15,4
34,36,2014-04-26,0,Norwich City,W,3,4,0,1883.45,1610.28,273.17,1.36,18,6,6
35,37,2014-05-03,0,Sunderland,L,0,0,1,1872.14,1635.27,236.87,1.36,14,7,6
36,34,2014-05-06,0,Hull City,W,3,3,1,1872.14,1591.14,281.00,1.36,16,3,3
37,38,2014-05-11,1,Southampton,D,1,1,1,1872.14,1706.59,165.55,2.80,8,5,8

In [ ]:
df_2 = df_2[['matchday','Date','home_0_away_1','Opponent',	'Result',	'points_won'	,'GF'	,'GA'	,'united_elo'	,'opp_elo',	'elo_diff',	'united_win_odds'	,'opp_final_pos','days_since_last_game_united','days_since_last_game_opp']]

In [ ]:
df_2

,matchday,Date,home_0_away_1,Opponent,Result,points_won,GF,GA,united_elo,opp_elo,elo_diff,united_win_odds,opp_final_pos,days_since_last_game_united,days_since_last_game_opp
0,1,2014-08-16,0,Swansea City,L,0,1,2,1858.60,1672.92,185.68,1.36,8,0,0
1,2,2014-08-24,1,Sunderland,D,1,1,1,1858.60,1647.63,210.97,1.75,16,8,8
2,3,2014-08-30,1,Burnley,D,1,0,0,1858.60,1613.48,245.12,1.62,19,6,7
3,4,2014-09-14,0,QPR,W,3,4,0,1833.37,1570.30,263.07,1.29,20,15,15
4,5,2014-09-21,1,Leicester City,L,0,3,5,1837.33,1653.65,183.68,1.67,14,7,8
5,6,2014-09-27,0,West Ham,W,3,2,1,1837.33,1655.79,181.54,1.40,12,6,7
6,7,2014-10-05,0,Everton,W,3,2,1,1819.52,1808.95,10.57,1.67,11,8,8
7,8,2014-10-20,1,West Brom,D,1,2,2,1821.53,1632.27,189.26,1.75,13,15,16
8,9,2014-10-26,0,Chelsea,D,1,1,1,1821.53,1937.44,-115.91,2.88,1,6,8
9,10,2014-11-02,1,Manchester City,L,0,0,1,1818.42,1920.19,-101.77,4.33,2,7,8
10,11,2014-11-08,0,Crystal Palace,W,3,1,0,1818.42,1613.17,205.25,1.30,10,6,5
11,12,2014-11-22,1,Arsenal,W,3,2,1,1809.78,1827.39,-17.61,3.50,3,14,13
12,13,2014-11-29,0,Hull City,W,3,3,0,1809.78,1567.89,241.89,1.33,18,7,6
13,14,2014-12-02,0,Stoke City,W,3,2,1,1836.64,1671.57,165.07,1.45,9,3,3
14,15,2014-12-08,1,Southampton,W,3,2,1,1836.64,1750.47,86.17,2.70,7,6,5
15,16,2014-12-14,0,Liverpool,W,3,3,0,1836.64,1806.45,30.19,1.80,6,6,8
16,17,2014-12-20,1,Aston Villa,D,1,1,1,1853.47,1620.14,233.33,1.62,17,6,7
17,18,2014-12-26,0,Newcastle Utd,W,3,3,1,1853.47,1671.62,181.85,1.40,15,6,5
18,19,2014-12-28,1,Tottenham,D,1,0,0,1853.47,1758.36,95.11,2.30,5,2,2
19,20,2015-01-01,1,Stoke City,D,1,1,1,1851.94,1691.77,160.17,2.00,9,4,4
20,21,2015-01-11,0,Southampton,L,0,0,1,1851.94,1753.29,98.65,1.83,7,10,10
21,22,2015-01-17,1,QPR,W,3,2,0,1837.43,1572.84,264.59,1.62,20,6,7
22,23,2015-01-31,0,Leicester City,W,3,3,1,1837.43,1607.09,230.34,1.36,14,14,14
23,24,2015-02-08,1,West Ham,D,1,1,1,1845.19,1703.01,142.18,1.95,12,8,8
24,25,2015-02-11,0,Burnley,W,3,3,1,1845.19,1585.07,260.12,1.29,19,3,3
25,26,2015-02-21,1,Swansea City,L,0,1,2,1845.48,1668.94,176.54,2.00,8,10,10
26,27,2015-02-28,0,Sunderland,W,3,2,0,1845.48,1629.73,215.75,1.36,16,7,7
27,28,2015-03-04,1,Newcastle Utd,W,3,1,0,1826.29,1656.39,169.90,2.00,15,4,4
28,29,2015-03-15,0,Tottenham,W,3,3,0,1828.84,1760.93,67.91,1.91,5,11,8
29,30,2015-03-22,1,Liverpool,W,3,2,1,1828.84,1822.76,6.08,3.60,6,7,6
30,31,2015-04-04,0,Aston Villa,W,3,3,1,1842.46,1578.67,263.79,1.30,17,13,14
31,32,2015-04-12,0,Manchester City,W,3,4,2,1842.46,1886.53,-44.07,2.63,2,8,6
32,33,2015-04-18,1,Chelsea,L,0,0,1,1855.69,1913.93,-58.24,4.33,1,6,6
33,34,2015-04-26,1,Everton,L,0,0,3,1855.69,1722.47,133.22,2.15,11,8,8
34,35,2015-05-02,0,West Brom,L,0,0,1,1832.55,1607.55,225.00,1.36,13,6,7
35,36,2015-05-09,1,Crystal Palace,W,3,2,1,1832.55,1633.15,199.40,1.91,10,7,6
36,37,2015-05-17,0,Arsenal,D,1,1,1,1822.84,1860.18,-37.34,2.45,3,8,6
37,38,2015-05-24,1,Hull City,D,1,0,0,1822.84,1571.32,251.52,2.25,18,7,8

In [ ]:
df["season"] = "2013/14"
df_2["season"] = "2014/15"
final_df = pd.concat([df, df_2], ignore_index=True)

In [ ]:
final_df

,matchday,Date,home_0_away_1,Opponent,Result,points_won,GF,GA,united_elo,opp_elo,elo_diff,united_win_odds,opp_final_pos,days_since_last_game_united,days_since_last_game_opp,season
0,1,2013-08-17,1,Swansea City,W,3,4,1,1911.40,1665.55,245.85,2.00,12,0,0,2013/14
1,2,2013-08-26,0,Chelsea,D,1,0,0,1911.40,1887.22,24.18,2.45,3,9,8,2013/14
2,3,2013-09-01,1,Liverpool,L,0,0,1,1921.33,1801.01,120.32,2.88,2,6,8,2013/14
3,4,2013-09-14,0,Crystal Palace,W,3,2,0,1921.33,1525.75,395.58,1.22,11,13,14,2013/14
4,5,2013-09-22,1,Manchester City,L,0,1,4,1911.61,1866.28,45.33,3.60,1,8,8,2013/14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,34,2015-04-26,1,Everton,L,0,0,3,1855.69,1722.47,133.22,2.15,11,8,8,2014/15
72,35,2015-05-02,0,West Brom,L,0,0,1,1832.55,1607.55,225.00,1.36,13,6,7,2014/15
73,36,2015-05-09,1,Crystal Palace,W,3,2,1,1832.55,1633.15,199.40,1.91,10,7,6,2014/15
74,37,2015-05-17,0,Arsenal,D,1,1,1,1822.84,1860.18,-37.34,2.45,3,8,6,2014/15
75,38,2015-05-24,1,Hull City,D,1,0,0,1822.84,1571.32,251.52,2.25,18,7,8,2014/15

In [ ]:
# Finally gotten here - YAYYY #
final_df.to_csv('united_pt1.csv',index=False)